.u-section-1 .u-sheet-1 {
  min-height: 488px;
}

.u-section-1 .u-text-1 {
  margin: 249px 728px 0 38px;
}

.u-section-1 .u-text-2 {
  margin: 33px 38px 55px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 540px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 316px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 166px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 210px;
    margin-right: 0;
    margin-left: 7px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 6px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  margin: 170px 914px 0 42px;
}

.u-section-2 .u-btn-1 {
  background-image: linear-gradient(to right, #ff0000, #860202);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  align-self: center;
  margin: 44px auto 0 472px;
  padding: 11px 36px 11px 35px;
}

.u-section-2 .u-btn-2 {
  background-image: linear-gradient(to right, #ff0000, #860202);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  align-self: center;
  margin: -61px auto 0 250px;
  padding: 11px 36px 11px 35px;
}

.u-section-2 .u-btn-3 {
  background-image: linear-gradient(to right, #ff0000, #860202);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -61px auto 60px 682px;
  padding: 11px 36px 11px 35px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 308px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 32px;
    margin-right: 739px;
    margin-left: 19px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 59px;
    margin-left: 371px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 166px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 567px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-2 .u-text-1 {
    margin-right: -89px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 76px;
    margin-left: 31px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 250px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 481px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-2 .u-text-1 {
    margin-right: -67px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 43px;
    margin-left: 49px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 22px;
    margin-left: 49px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 23px;
    margin-bottom: 49px;
    margin-left: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: -42px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 66px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 20px;
    margin-left: 66px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 20px;
    margin-left: 66px;
    margin-bottom: 60px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 728px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 4.0625rem;
  margin: 60px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 87px 0 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 460px;
}

.u-section-3 .u-container-layout-1 {
  box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.3);
  padding: 30px 20px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 2rem;
  margin: 0 1px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px 1px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 460px;
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.3);
  padding: 30px 10px;
}

.u-section-3 .u-text-4 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-group-1 {
  min-height: 103px;
  margin: 20px auto 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none;
  margin: 155px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 460px;
}

.u-section-3 .u-container-layout-4 {
  box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.3);
  padding: 30px 0;
}

.u-section-3 .u-text-6 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 0 20px;
}

.u-section-3 .u-group-2 {
  min-height: 103px;
  background-image: none;
  margin: 20px auto 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px 30px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none;
  margin: 155px auto 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 460px;
}

.u-section-3 .u-container-layout-6 {
  box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.3);
  padding: 30px 10px;
}

.u-section-3 .u-text-8 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-group-3 {
  min-height: 103px;
  margin: 20px auto 0 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 10px 30px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none;
  margin: 155px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 379px;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 379px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 379px;
  }

  .u-section-3 .u-group-3 {
    min-height: 102px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-9 {
    margin-left: -8px;
    margin-right: -8px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 426px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 69px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 69px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 300px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 51px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 71px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 441px;
  }

  .u-section-3 .u-group-1 {
    min-height: 118px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    font-weight: normal;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-7 {
    font-weight: normal;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-9 {
    font-weight: normal;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}